<h1>Welcome, <%= @user.username %></h1>

<hr>
<h2>Volunteer Engagement Highlights</h2>
<div>
  <div>
    <h3>This month</h3>
    <p>Total hours: </p>
    <p>Total engagements: </p>
    <p>Unique volunteers: </p>
    <p>New volunteers: </p>
  </div>
  <div>
    <h3>This year</h3>
    <p>Total hours: </p>
    <p>Total engagements: </p>
    <p>Unique volunteers: </p>
    <p>New volunteers: </p>
  </div>
  <div>
    <h3>Cummulative</h3>
    <p>Total hours: </p>
    <p>Total engagements: </p>
    <p>Unique volunteers: </p>
  </div>
</div>