/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary: #14AF77;
  --primary-dark: #0d724d;
  --main-font-color: #090909;
  --medium-gray: #C9C5C5;
  --light-gray: #f2f2f2;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--main-font-color);
}

.page-container {
  width: auto;
  padding: 3% 10%; 
  min-height: 90vh;
  margin-bottom: -50px;
}

hr {
  margin: 1.5rem 0;
  background-color: var(--medium-gray);
  height: 1px;
  border: none;
}

/* Font styles */
.emphasis {
  font-weight: 500;
}

.de-emphasize {
  font-weight: 300;
  font-size: 1.5rem;
}

.primary-color {
  color: var(--primary);
}

/* Links */
a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
}

/* Navbar */
.navbar, .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: var(--main-font-color);
}

.link-block a {
  margin: .75rem;
}

#site-title a {
  color: var(--primary);
  font-weight: 500;
  font-size: 1.5rem;
}

nav hr {
  background-color: var(--primary);
  height: 2px;
  margin: 1.5rem 0rem 2rem 0rem;
  border: none;
}

/* Main Footer */
footer {
  height: 50px;
  text-align: right;
  color: var(--primary);
  width: auto;
  padding: 0% 10%;
}

.push {
  height: 50px;
}

/* Filter + search styles */
.filter-options {
  font-weight: 500;
}

.filter-options a:first-child {
  margin-left: initial;
}