/* Buttons */
.button, input[type="submit"] {
  padding: .5em 3em;
  border-color: var(--primary);
  border-radius: 6px;
  text-decoration: none;
  background: var(--primary);
  color: #fff;
  font-weight: 500;
  width: initial;
  transition-duration: 0.2s;
}

.button.delete {
  border: none;
  background: initial;
  color: var(--light-gray);
  font-size: 1rem;
  padding: initial;
  
}

.button.delete:hover {
  color: red;
  cursor: pointer;
}