/* Buttons */
.button, input[type="submit"] {
  padding: .5em 2em;
  border-color: var(--primary);
  border-radius: 6px;
  text-decoration: none;
  background: var(--primary);
  color: #fff;
  font-weight: 500;
  width: initial;
  transition-duration: 0.2s;
}

.button.delete {
  border: none;
  background: initial;
  color: var(--medium-gray);
  font-size: 1rem;
  padding: initial;
  
}

.button.delete:hover {
  color: red;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background: var(--primary-dark);
}

input[type="submit"].search  {
  background: initial;
  color: var(--main-font-color);
  border: none;
  padding-left: none;
}