// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Login and Signup Styles */

.visitor-container {
  max-width: 80%;
  min-height: 480px;
  display: flex;
  align-items: center;
  margin: 2rem auto;
}

.left-item {
  flex: 1;
  margin-right: 2rem;
}

.right-item {
  flex: 1;
}

.visitor-container input:not([type="submit"]) {
  width: 100%;
}

.visitor-container h1 {
  color: var(--primary);
}

.visitor-container h2 {
  font-size: 2rem;
}

.button_to .github {
  background: initial;
  border: initial;
  color: var(--main-font-color);
  padding: initial;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: underline;
}

.button_to .github:hover {
  background: initial;
  color: var(--primary-dark);
}