// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.grid-main {
  grid-column: 2 / 5;
}

.grid-main h1 {
  margin: .5rem 0;
}

.grid-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.profile img {
  width: 100%;
  height: auto;
}