<h1>Add a new activity record<%= " for #{@volunteer.full_name}" if @volunteer %></h1>
<%= render partial: 'form', locals: {activity: @activity, volunteers: @volunteers, roles: @roles, volunteer: @volunteer} %>